<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table class="table">
	<tr>
		<th><%= sortable "id", "ID" %></th>
		<th><%= sortable "username", "Username" %></th>
		<th><%= sortable "email", "Email" %></th>
		<th>Wins</th>
		<th><%= sortable "stats.cards_played", "Cards played" %></th>
		<th><%= sortable "stats.card_combos_played", "Card combos played" %></th>
	</tr>
<% for user in @users %>
	<tr>
		<td><%= user.id %></td>
		<td><%= user.username %></td>
		<td><%= user.email %></td>
		<td><%= user.games_won.count %></td>
		<td><%= user.stats.cards_played %></td>
		<td><%= user.stats.card_combos_played %></td>
	</tr>
<% end %>
</table>
<%= will_paginate @users %>