<!DOCTYPE html>
<html lang="en">
<head>
  <title>Exploding Kittens</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <%= render 'nav/navbar' %>
<div class="container-fluid">
  <h1>Games:</h1>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Players</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>

    <% @games.each do |game| %>
    <tr>
      <td><%= game.id %></td>
      <td><%= game.players.length %>/<%= Game::MAX_PLAYERS %></td>
      <td><%= link_to 'Join', game_join_path(game) %></td>
    </tr>
    <% end %>
  </table>
</div>

</body>
</html>
