<!DOCTYPE html>
<html lang="en">
<head>
  <title>Exploding Kittens</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <%= render 'nav/navbar' %>

<div class="container-fluid" align="center">
  <div class="bg-image">
    <%=image_tag("explosion.png")%>
  </div>
  <h1>Lobby</h1>
  <span>
    <%= link_to(
        'Create Game',
        '',
        class: 'btn btn-info btn-lg btn-create',
        style: 'margin-top: 0;',
        data: { toggle: 'modal', target: '#new_game_form' }
      ) %>
  </span>
  <div>
    <% if @games.size != 0 %>
    <div class="game-box">
      <table class="table games-table">
        <tr style="border-bottom: 5px solid white;">
          <th>ID</th>
          <th>ROOM NAME</th>
          <th>HOST</th>
          <th>PLAYERS</th>
          <th></th>
        </tr>

        <% @games.each do |game| %>
        <tr>
          <td><%= game.id %></td>
          <td><%= game.room_name %></td>
          <td><%= game.host.try(:username) || 'Abandoned' %></td>
          <td><%= "#{game.players.length}/#{Game::MAX_PLAYERS}" %></td>
          <td><%= link_to 'Join', game_join_path(game), class: 'btn btn-success' %></td>
        </tr>
        <% end %>
      </table>
    </div>

    <% else %>
      <br /><br />
      <h3>There are no game rooms yet</h3>
    <% end -%>
  </div>
</div>

</body>
</html>
