<p>
  <strong>Game id:</strong>
  <%= @game.id %>
</p>
 
<p>
  <strong>Players:</strong>
  <table>
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th colspan="3"></th>
  </tr>
 
  <% @game.users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
  </table>
</p>

<%= form_for @game do |f| %>
 
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@game.errors.count, "error") %> prohibited
        this game from being modified:
      </h2>
      <ul>
        <% @game.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.submit "Join", style: "#{'display:none' if (@game.users.include?(current_user) || @game.max_players_reached?)}" %>
  </p>
 
<% end %>