  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
  <script>
  
  	$(document).ready(function(){
		// Enable pusher logging - don't include this in production
	    Pusher.log = function(message) {
	      if (window.console && window.console.log) {
	        window.console.log(message);
	      }
	    };
	
	    var pusher = new Pusher('78511c9f413a61ee66ee', {
	      encrypted: true
	    });
	     
	    var channel_name = "<%= @game_push_channel_name %>";
	
	    var channel = pusher.subscribe(channel_name);
	    channel.bind('next_turn', function(data) {
	      $( "div#status" ).add( "<span>User " + data.username + 
	      " played a turn.</span><br/>" ).appendTo( "div#status" );
	    });
	    
	    $('button#play_turn').click(function() {
			var URI = '/games/play_turn';
			var payload = {
				game_id: "<%= @game.id %>",
				user_id: <%= current_user.id %>,
				username: "<%= current_user.username %>"
			}
			$.post(URI,payload,function(response) {
				console.log(response);
			});
		});
		$('button#play_turn').show();
	});
    
  </script>

<p>
  <strong>Game id:</strong>
  <%= @game.id %>
</p>
<div id="status">
<p>
  <strong>Players:</strong>
  <table>
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th colspan="3"></th>
  </tr>
 
  <% @game.users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
</table>

<!-- display the button only after the scripts have loaded -->
<button id="play_turn" class="btn btn-primary" 
	style="display: none">Play a turn</button>
</p>

<div id="wrapper">
    <div id="menu">
        <p class="welcome">Game #<%= @game.id %> Chat <b></b></p>
        <p class="logout"><a id="exit" href="#">Exit Chat</a></p>
        <div style="clear:both"></div>
    </div>
     
    <div id="chatbox"></div>
     
    <div id="txtbox"
    <form name="message" action="">
        <input name="usermsg" type="text" id="usermsg" size="100" />
        <input name="submitmsg" type="submit" id="submitmsg" value="Send" />
    </form>
	</div>
</div>